<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置Bean后处理器。这个后处理器将作用于当前配置文件中所有的bean。-->
    <bean class="com.rainbowsea.bean.MyBeanPostProcessor"/>

    <!--init-method指明Bean的初始化方法是哪个；destroy-method指明Bean的销毁方法是哪个    -->
    <bean id="userBean" class="com.rainbowsea.bean.User"  scope="prototype" init-method="initUserBean" destroy-method="destroyUserBean">
        <property name="name" value="张三"></property> <!--set注入赋值-->
    </bean>


</beans>